.bg-cyan {
  background-color: #A5EEFD;
}

.bg-green {
  background-color: #A2E9C1;
}

/**USED TO LIMIT USER INPUT HEIGHT */
.userinput {
  max-height: 15rem;
  min-height: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: .8;
}