@import "bootstrap/dist/css/bootstrap.min.css";
.bg-cyan {
  background-color: #a5eefd;
}

.bg-green {
  background-color: #a2e9c1;
}

/**USED TO LIMIT USER INPUT HEIGHT */
.userinput {
  max-height: 15rem;
  min-height: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: 0.8;
}

.admin-option:hover {
  background-color: lightgray;
}
